{
  "verifiedSimpleMethods": [
    "describeInterconnects"
  ],
  "blacklistedSimpleMethods": [
    "createBGPPeer",
    "deleteBGPPeer",
    "describeDirectConnectGatewayAttachments",
    "describeDirectConnectGatewayAssociations"
  ],
  "deprecatedOperations": [
    "AllocateConnectionOnInterconnect",
    "DescribeConnectionLoa",
    "DescribeConnectionsOnInterconnect",
    "DescribeInterconnectLoa"
  ]
}
