{
  "verifiedSimpleMethods": [
    "disassociateServiceRoleFromAccount",
    "getServiceRoleForAccount"
  ],
  "blacklistedSimpleMethods": [
    "associateServiceRoleToAccount",
    "createCoreDefinition",
    "createDeviceDefinition",
    "createFunctionDefinition",
    "createGroup",
    "createLoggerDefinition",
    "createSubscriptionDefinition",
    "createResourceDefinition",
    "createSoftwareUpdateJob"
  ]
}
